<div class="form-container">
    
    <div class="main-heading">
        <h1>{{pageTitle}}</h1>    </div>
    <form [formGroup]="artistForm" class="artist-form" (ngSubmit)="onSubmit()">
        <div class="form-body">
            <span class="p-float-label">
                <input id="artist-name-input" type="text" pInputText formControlName="name"
                    [ngClass]="name?.invalid && (name?.dirty || name?.touched) ? 'ng-invalid ng-dirty' : '' ">
                <label for="artist-name-input">Username</label>
            </span>
            <span class="p-float-label">
                <input id="artist-musicType-input" type="text" pInputText formControlName="musicType"
                    [ngClass]="musicType?.invalid && (musicType?.dirty || musicType?.touched) ? 'ng-invalid ng-dirty' : '' ">
                <label for="artist-musicType-input">Music Type</label>
            </span>
            <app-file-upload (ImageByteArray)="patchValueForImage($event)"></app-file-upload>
            <p-button [disabled]="artistForm.invalid" type="submit" label="{{buttonText}}"></p-button>
        </div>
        <div class="form-image">
            <img alt="Card" width="250" height="250" src="data:image/png;base64,{{model?.photo}}">
        </div>
    </form>

</div>