.form-container {
    margin: 10px;
    span , p-dropdown{
        margin-top: 15px;
        //margin-bottom: 10px;
    }

}

.album-form{
    display: flex;
}

.form-body {
    display: flex;
    flex-direction: column;
}

.form-body p-button {
   margin-top: 20px;
}

img {
    float: left;

    object-fit: cover;
}

.form-image {
    margin-left: 60px;
}
