.container {
  margin-top: 2%;
  display: flex;
  flex-flow: row wrap;
  position: relative;

  .card-item {
    margin: 4px;
    flex: 0 1 calc(20% - 8px); /* <-- adjusting for margin */
  }
}

::ng-deep .p-card .p-card-footer {
  padding: 0 0 0 14% !important;
}

::ng-deep .p-card .p-card-footer button {
  margin-right: 10px !important;
}

img {
  float: left;
  width: 100px;
  height: 100px;
  object-fit: cover;
}



